---
---

@import "{{ site.theme }}";

section {
  width:1000px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width:1060px;
}

footer {
  margin-left:-725px;
}

nav {
  margin-left:-775px;
}


#banner {
  margin-right:-530px;
  .fork {
    margin-left:-530px;
  }
}
