---
---

@import "{{ site.theme }}";

section {
  width:1000px;
  margin-left: 0px;
}

.wrapper {
  width:1060px;
}

footer {
  margin-left:-735px;
}

nav {
  margin-left:-785px;
}


#banner {
  margin-right:-550px;
  .fork {
    position:fixed;
    left:50%;
    margin-left:-530px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    background-color: #FFE788;
  }
}
